<li> 
  <span>
    {{wine_name}}
  </span> 
  {{!-- {{#if tohistory}} --}}
  <button class="move-bucket" data-id="{{id}}" data-wine="{{wine_id}}">
    Add to History
  </button>
  {{!-- {{/if}} --}}
  {{!-- delete button  --}}
  <button class="delete-bucket" data-id="{{id}}">Delete</button>
</li>

 {{!-- class="move-bucket" data-id="{{id}}" data-newtohistory="{{tohistory}}" --}}